body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.show-card{
  margin-left: 1%;
}

.visible{
 display:inline;
 position: absolute;
 right: 50px;
 background-color: rgb(211,211,211, 0.5);
 border: 1px solid blue;
 border-radius: 0px 0px 10px 10px;
 z-index: 1;
}
.visible p {
  margin-bottom: 0px;
}
.hidden {
  display: none;
}
.movie-img{
  margin-top: 2%;
  height: 50%;
}

.sticky-footer{
  position: fixed;
  bottom: 0;
}

.single-show-text-wrapper{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}